.miheder{background-color: bisque;
font-size: larger;
font-weight: 200;
width: 100%;
height: 30%;
}
.color{color: indigo;
background-color: antiquewhite;
}
.horas{
    color: aqua;
    background-color: blueviolet;
}
.piedepagina{
    background-color: aqua;
    width: 100%;
    height: 30%;
}
.formulario{
    border-style: solid;

}